.article-container {
    display: inline-block;
    column-count: 3;
    column-gap: 20px;
    width: 100%;
    padding: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

@media (max-width: 1000px) {
    .article-container {
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .article-container {
        column-count: 1;
    }
}

